.h-hidden {
  display: block !important;
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  color: #333;
  font-family: 'Lato'; }

a {
  color: #333;
  text-decoration: none; }
  a:hover {
    color: #666; }

b,
strong {
  font-weight: 700;
  color: #555; }

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 16px; }

.site-main {
  display: flex;
  flex-direction: column; }

.site-header {
  margin-bottom: 40px;
  font-size: 3.5em; }
  .site-header h1 {
    display: inline; }

.site-footer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 72px;
  color: #bbb;
  font-weight: 300; }

.c-list {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.5; }
  .c-list .c-list__item {
    margin-bottom: 24px; }
    .c-list .c-list__item a {
      padding-bottom: 2px;
      border-bottom: 1px solid #666; }
  .c-list .c-list__emphasis {
    display: block; }

.c-last-update {
  margin: 40px 0;
  color: #999;
  font-weight: 300; }
  .c-last-update a {
    color: #999;
    border-bottom: 1px solid #999; }
    .c-last-update a:hover {
      color: #666;
      border-color: #666; }

.c-menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 300; }
  .c-menu .c-menu__item {
    padding: 8px; }
    .c-menu .c-menu__item a {
      padding: 0 2px 2px 2px;
      color: #bbb;
      font-size: 1.2em;
      font-weight: 400; }
      .c-menu .c-menu__item a:hover {
        border-bottom: 2px solid #666;
        color: #666; }
  .c-menu .c-menu__separator {
    margin: 0 8px;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #bbb; }

@media (min-width: 480px) {
  .site-wrapper {
    padding: 32px; }

  .c-list .c-list__item {
    margin-bottom: 8px; }
  .c-list .c-list__emphasis {
    display: inline; } }

/*# sourceMappingURL=styles.css.map */
